In [2]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

Load The data

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
### Preprocess the data
### drop irrelavent columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
### Unique items...
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [6]:
## Encode categorical variable...
##1st let encode Gender...by using LabelEncoder as it can encode 2 caegorical variable...
label_encoder = LabelEncoder()
gender_encoded = label_encoder.fit_transform(data['Gender'])
data['Gender'] = gender_encoded

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
one_hot_encoder = OneHotEncoder()
geography_encoded = one_hot_encoder.fit_transform(data[['Geography']])
print(geography_encoded)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>
  Coords	Values
  (0, 0)	1.0
  (1, 2)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 2)	1.0
  (5, 2)	1.0
  (6, 0)	1.0
  (7, 1)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 2)	1.0
  (12, 0)	1.0
  (13, 0)	1.0
  (14, 2)	1.0
  (15, 1)	1.0
  (16, 1)	1.0
  (17, 2)	1.0
  (18, 2)	1.0
  (19, 0)	1.0
  (20, 0)	1.0
  (21, 2)	1.0
  (22, 2)	1.0
  (23, 0)	1.0
  (24, 0)	1.0
  :	:
  (9975, 1)	1.0
  (9976, 0)	1.0
  (9977, 0)	1.0
  (9978, 0)	1.0
  (9979, 0)	1.0
  (9980, 2)	1.0
  (9981, 1)	1.0
  (9982, 1)	1.0
  (9983, 0)	1.0
  (9984, 1)	1.0
  (9985, 0)	1.0
  (9986, 1)	1.0
  (9987, 2)	1.0
  (9988, 0)	1.0
  (9989, 2)	1.0
  (9990, 1)	1.0
  (9991, 0)	1.0
  (9992, 2)	1.0
  (9993, 0)	1.0
  (9994, 0)	1.0
  (9995, 0)	1.0
  (9996, 0)	1.0
  (9997, 0)	1.0
  (9998, 1)	1.0
  (9999, 0)	1.0

In [9]:
geography_encoded.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
### Create a dataframe...
geo_encoded_df = pd.DataFrame(geography_encoded.toarray(), columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [12]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [13]:
### Let's conconate two df...
data = pd.concat([data, geo_encoded_df], axis=1)

'''
One_code: pd.concate([data.drop('Geography', axis=1), geo_encoded_df], axis = 1)
'''

"\nOne_code: pd.concate([data.drop('Geography', axis=1), geo_encoded_df], axis = 1)\n"

In [14]:
data = data.drop(['Geography'], axis=1)

In [15]:
### save the encoders and scalers...
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder, file)

In [16]:
## Devide the dataset into independent and dependent features...
y = data['Exited']
X = data.drop('Exited', axis=1)

In [17]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0

In [18]:
### Split the data...
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train, y_train

(      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 9254          686       1   32       6       0.00              2          1
 1561          632       1   42       4  119624.60              2          1
 1670          559       1   24       3  114739.92              1          1
 6087          561       0   27       9  135637.00              1          1
 6669          517       1   56       9  142147.32              1          0
 ...           ...     ...  ...     ...        ...            ...        ...
 5734          768       1   54       8   69712.74              1          1
 5191          682       0   58       1       0.00              1          1
 5390          735       0   38       1       0.00              3          0
 860           667       1   43       8  190227.46              1          1
 7270          697       1   51       1  147910.30              1          1

       IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
 9254               1        179093.26               1.0                0.0
 1561               1        195978.86               0.0                1.0
 1670               0         85891.02               0.0                0.0
 6087               0        153080.40               1.0                0.0
 6669               0         39488.04               1.0                0.0
 ...              ...              ...               ...                ...
 5734               1         69381.05               1.0                0.0
 5191               1           706.50               1.0                0.0
 5390               0         92220.12               1.0                0.0
 860                0         97508.04               1.0                0.0
 7270               1         53581.14               0.0                1.0

       Geography_Spain
 9254              0.0
 1561              0.0
 1670              1.0
 6087              0.0
 6669              0.0
 ...               ...
 5734              0.0
 5191              0.0
 5390              0.0
 860               0.0
 7270              0.0

 [8000 rows x 12 columns],
 9254    0
 1561    0
 1670    1
 6087    1
 6669    1
        ..
 5734    0
 5191    0
 5390    1
 860     1
 7270    0
 Name: Exited, Length: 8000, dtype: int64)

In [19]:
### Scale the fitures...
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [20]:
## save scaler in the pickle file...
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Implementation...

In [21]:
import tensorflow as tf
from tensorflow.keras.layers import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [22]:
### Build Our ANN Model...
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # H.L-1, Note: in the first hl we have to give shape of input layer.
    Dense(32, activation='relu'),  #H.L-2
    Dense(1, activation='sigmoid')  # Output layer
])

c:\Users\dp971\Coading\ML_with_Krish\NLP\End_To_End_Projects\ANN_Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
## Compile the model...
#  the compile() function configures the model for training.
# # It specifies the optimizer, loss function, and metrics (e.g., accuracy)
#That will be tracked during training.
#we can ceate it by 2 methods, 1) define opt, and loss seperately 2) mention in one code directly...

# 1
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.1)
loss = tensorflow.keras.losses.BinaryCrossentropy()

model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

#2
#model.compile(optimizer='Adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [25]:
## Set up the tensorboard...it help to caputre the loss and visualize the loss...

from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y/%m/%d - %H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [26]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [27]:
### Train Model
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100, callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8070 - loss: 0.4737 - val_accuracy: 0.8240 - val_loss: 0.4309
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8235 - loss: 0.4394 - val_accuracy: 0.8415 - val_loss: 0.3919
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8258 - loss: 0.4378 - val_accuracy: 0.8520 - val_loss: 0.4102
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8384 - loss: 0.4126 - val_accuracy: 0.8160 - val_loss: 0.4630
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8175 - loss: 0.4604 - val_accuracy: 0.8130 - val_loss: 0.4721
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8166 - loss: 0.4527 - val_accuracy: 0.8045 - val_loss: 0.4867
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8002 - loss: 0.5067 - val_accuracy: 0.8095 - val_loss: 0.5312
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7950 - loss: 0.5095 - val_accuracy: 0.8040 - val_loss: 0.4878
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7934 - loss: 0.5084 - val_accuracy: 0.8035 - val_loss: 0.4923
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7879 - loss: 0.5171 - val_accuracy: 0.8035 - val_loss: 0.5025
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7855 - loss: 0.5199 - val_accuracy: 0.8035 - val_loss: 0.4956
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7995 - loss: 0.5026 - val_accuracy: 0.8035 - val_loss: 0.4955

In [28]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [29]:
## Load Tensorboard Extension...
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 1476), started 1 day, 16:16:24 ago. (Use '!kill 1476' to kill it.)